<div class="row">
  <div class="col-6">
    <table class="table table-sm">
      <tbody>
        <tr *ngFor="let day of this.forecast?.forecastday">
          <td>{{day.date | date:'EEEE' }}</td>
          <td><img [src]="day.day.condition.icon" style="height: 50px;"></td>
          <td style="width: 3px;">{{day?.day?.maxtemp_c}}&#176;c</td>
          <td style="width: 3px;">{{day?.day?.mintemp_c}}&#176;c</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-6" style="font-size: medium;line-height: 30px;">
    <div>
      Sunrise : {{forecast?.forecastday?.[0]?.astro?.sunrise}}<br>
      Sunset : {{forecast?.forecastday?.[0]?.astro?.sunset}}<br>
      Chance of Rain : {{forecast?.forecastday[0]?.day?.daily_chance_of_rain}} % <br>
      Humidity : {{current?.humidity}} %<br>
      Wind : {{current?.wind_mph}} mph<br>
    </div>
  </div>
</div>
